<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOT Frontend</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://kit.fontawesome.com/54aeb36c60.js" crossorigin="anonymous"></script>
    <script src="/static/js/chart.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
    <div class="viewport">
        <div class="ui">
            <div class="sidebar">
                <a href="/" class="title">
                    <h3>后台管理</h3>
                </a>
                <div class="user-info">
                    <div class="user-info-inner">
                        <div class="inline-block">
                            <div class="avatar"><h1>?</h1></div>
                        </div>
                        <h4 class="username">
                            请先
                            <a href="/login" class="inline-button">登陆</a> 或
                            <a href="/register" class="inline-button">注册</a>
                        </h4>
                    </div>
                </div>
                <div class="menu-list">
                    <a href="/" class="menu-item">
                        <i class="fas fa-tachometer-alt"></i>
                        控制台
                    </a>
                    <div class="menu-item" onclick="toggleDropdown(this)">
                        <i class="fas fa-list"></i>
                        设备管理
                        <div class="drop-down">
                            <i class="fas fa-sort-down rotate"></i>
                        </div>
                    </div>
                    <div class="folder">
                        <a href="/devices" class="menu-item id1">
                            <i class="fas fa-question-circle"></i>
                            设备详情
                        </a>
                        <div class="menu-item id1">
                            <i class="fas fa-trash"></i>
                            设备删除
                        </div>
                        <a href="/add_device" class="menu-item id1">
                            <i class="fas fa-copy"></i>
                            设备添加
                        </a>
                    </div>
                    <div class="menu-item">
                        <i class="fas fa-cog"></i>
                        选项
                    </div>
                    <div class="menu-item">
                        <i class="fas fa-book"></i>
                        帮助文档
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="heading">
                    <div class="project-title">
                        <h3>RFID 轻量级数据过滤和入侵检测仿真系统</h3>
                    </div>
                    <div class="toolbar">
                        <div class="toolbar-button">
                            <i class="fas fa-inbox"></i>
                        </div>
                        <div class="toolbar-button">
                            <i class="fas fa-book"></i>
                        </div>
                        <div class="toolbar-button">
                            <i class="fas fa-user-edit"></i>
                        </div>
                    </div>
                </div>
                <div class="stuffs">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
