{% extends "base.html" %}

{% block menu %}
<a href="/" class="menu-item">
    <i class="fas fa-tachometer-alt"></i>
    控制台
</a>
<div class="menu-item" onclick="toggleDropdown(this)">
    <i class="fas fa-list"></i>
    设备管理
    <div class="drop-down">
        <i class="fas fa-sort-down rotate right"></i>
    </div>
</div>
<div class="folder opened">
    <a href="/devices" class="menu-item id1 active">
        <i class="fas fa-question-circle"></i>
        设备详情
    </a>
    <div class="menu-item id1">
        <i class="fas fa-trash"></i>
        设备删除
    </div>
</div>
<div class="menu-item">
    <i class="fas fa-cog"></i>
    选项
</div>
<div class="menu-item">
    <i class="fas fa-book"></i>
    帮助文档
</div>
{% endblock %}

{% block content %}
<script src="/static/js/devices.js"></script>
<script src="/static/js/device.js"></script>
<div id="device-panes">
    <div class="pane">
        <h5>热水卡</h5>
        
    </div>
</div>
<script>
    render("{{ name }}");
</script>
{% endblock %}
