{% extends "base.html" %}

{% block content %}
<script src="/static/js/device.js"></script>
<script src="/static/js/main.js"></script>
<div class="pane">
    <h5>数据概览</h5>
    <div class="overview-data-view">
        <div class="overview-data success">
            <div class="ta-center">
                <h2>4</h2>
                <h4>在线设备</h4>
            </div>
        </div>
        <div class="overview-data warning">
            <div class="ta-center">
                <h2>3</h2>
                <h4>最近新增</h4>
            </div>
        </div>
        <div class="overview-data error">
            <div class="ta-center">
                <h2>4</h2>
                <h4>错误</h4>
            </div>
        </div>
    </div>
</div>
<div class="pane">
    <h5>在线时间</h5>
    <div class="chart">
        <canvas id="chart1"></canvas>
    </div>
</div>
<div class="pane">
    <h5>设备一览</h5>
    <div class="devices">
        
    </div>
</div>
{% endblock %}
