{% extends "base.html" %}

{% block menu %}
<a href="/" class="menu-item active">
    <i class="fas fa-tachometer-alt"></i>
    控制台
</a>
<div class="menu-item" onclick="toggleDropdown(this)">
    <i class="fas fa-list"></i>
    设备管理
    <div class="drop-down">
        <i class="fas fa-sort-down rotate right"></i>
    </div>
</div>
<div class="folder">
    <a href="/devices" class="menu-item id1">
        <i class="fas fa-question-circle"></i>
        设备详情
    </a>
    <div class="menu-item id1">
        <i class="fas fa-trash"></i>
        设备删除
    </div>
</div>
<div class="menu-item">
    <i class="fas fa-cog"></i>
    选项
</div>
<div class="menu-item">
    <i class="fas fa-book"></i>
    帮助文档
</div>
{% endblock %}

{% block content %}
<script src="/static/js/device.js"></script>
<script src="/static/js/main.js"></script>
<div class="pane">
    <h5>数据概览</h5>
    <div class="overview-data-view">
        <div class="overview-data success">
            <div class="ta-center">
                <h2>2</h2>
                <h4>在线设备</h4>
            </div>
        </div>
        <div class="overview-data warning">
            <div class="ta-center">
                <h2>3</h2>
                <h4>最近新增</h4>
            </div>
        </div>
        <div class="overview-data error">
            <div class="ta-center">
                <h2>0</h2>
                <h4>错误</h4>
            </div>
        </div>
    </div>
</div>
<div class="pane">
    <h5>在线时间</h5>
    <div class="chart">
        <canvas id="chart1"></canvas>
    </div>
</div>
<div class="pane">
    <h5>设备一览</h5>
    <div class="devices">
        
    </div>
</div>
<script>
    renderChart("#chart1", ["1:00", "2:00", "3:00", "4:00", "5:00", "6:00", "7:00", "8:00", "9:00", "10:00"]);
</script>
{% endblock %}
